body {
    background: #8fc1e3;
    font-family: 'Courier New', Courier, monospace;
  }

.navbar.navbar-expand-lg{
    margin:25px;
}

.navbar-brand{
    background-color:#687864;
    padding:10px;
}

.navbar-brand a:hover{
    color:#f7f9fb;
}

.nav-item a:hover{
    background: #687868;
    color:#f7f9fb;
}

.dropdown-item {
    color:#31708E;
}
.dropdown-menu a:hover{
   background: #687864;
   color:#f7f9fb;
}

.navbar-toggler{
    background:#687864;
    border-color:#f7f9fb
}

.navbar-toggler-icon {
    stroke:#f7f9fb stroke-width='2' stroke-linecap='round' stroke-miterlimit='10';
}

a{
    color:#f7f9fb;
}

.col-md-6{
    background: #f7f9fb;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
}

.col-md-4{
    background: #f7f9fb;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 30px;
}

h1{
    color:#31708E;
    margin: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h2{
    color:#31708E;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}
hr{
    margin-top: 20px;
    margin-bottom: 30px;
}
p{
    color:black;
    margin-left:20px;
}

#temp-image{
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}


div.polaroid {
    width: 50%;
    background-color: #f7f9fb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 100px;
  }